[submodule "ScientificPython"]
	path = ScientificPython
	url = ../../davidlange6/ScientificPython
[submodule "ScientificPython-2"]
	path = HSF-India-Guwahati-ScientificPython
	url = ../../pfackeldey/HSF-India-Guwahati-ScientificPython.git
[submodule "Deep-Learning-IIT-Guwahati"]
	path = Deep-Learning-IIT-Guwahati
	url = ../../alpha-davidson/Deep-Learning-IIT-Guwahati
